*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}   

/* Barra de rolagem */
::-webkit-scrollbar {
    width: 0.8rem;    
}
  
  ::-webkit-scrollbar-thumb {
    background-color: #035950;
    border: 0.1rem solid #EFECEC;
    border-radius: 1rem;
}
  
  ::-webkit-scrollbar-track {
    background-color: #EFECEC;
}

/*landing bot*/
.eaMApA {
    right: 0px;
    bottom: 0px;
    position: fixed;
    width: 100px; 
    z-index: 2147483000;
}

body{
    overflow-x: hidden;
}

/*Inicio nav*/

nav{
    width: 100vw;
    max-width: 100%;
    display: flex;
    height: 14vh;
    background-color: #035950;
    align-items: center;
    justify-content: center;
    padding: 0.1em;
}

.mobileNav{
    width: 100vw;
    height: 100%;
    display: none;
    
}
.mobileMenu{
        width: 20%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: start;
        gap: 10px;
        flex-direction: column-reverse;
 }

.line1, .line2, .line3{
    width: 40px;
    background-color: black;
    height: 4px;
    margin: 0 1.4em 0 0;
}

.logoResponsiva{
    position: absolute;
    right: 50%;
}
.linksNav{
    width: 100vw;
    display: flex;
    justify-content: space-between;
    height: 100%;
    margin: 0;
    padding: 0.1em;
    align-items: center;
}

.linksNav li{
    width: 200px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.linksNav a{
    padding: 0.1em;
    cursor: pointer;
    text-decoration: none;
    color: rgb(221, 221, 221);
    font-size: 1.5em;
    width: 100%;
    text-align: center;
    transition: 0.2s;
}

.linksNav a:hover{
    color: rgb(255, 255, 255);
    text-decoration: none;

}

.linksNav img{
    width: 100%;
    
}
.notHover {
    opacity: 0.6;
    transition: 0.5s;
    }
  
/*Fim nav*/
/*inicio banner*/
#banner{
    width: 100vw;
    height: 70vh;
    display: flex;
    justify-content: center;

}

#banner img{    
   width: 90%;
   height: 90%;
}
/*fim banner*/
/*Inicio Sobre o Projeto*/
#sobre{
    width: 100vw;
    height: 150vh;
    display: flex;
    flex-direction: column;
    align-items: center;

}
.sobreEcoguide{
    width: 95%;
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 2em;
}
.infoEcoguide{
    width: 45%;
    height: 100%;
    color: rgb(0, 0, 0);
}
.infoEcoguide h1{
    width: 100%;
    height: 40%;
    color: grey;
    font-size: 2.2em;
}
.infoEcoguide p{
    color: #035950;
    font-size: 1.5em;
    height: 50%;
}
.imgSobre{
    width: 50%;
    height: 100%;
}
.imgSobre img{
    height: 95%;
    width: 100%;
}
.sobreResiduos{
    width: 100%;
    background-color: #035950;
    height: 50%;
    padding: 1em;
    display: flex;
    justify-content: space-evenly;
}
.imgReciclagem{
    width: 25%;
    height: 100%;
}
.imgReciclagem img{
    height: 100%;
    width: 100%;
}
.infoReciclagem{
    width: 75%;
    height: 100%; 
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.infoText{
    width: 100%;
    height: 80%;
    padding: 0.5em;
}

.infoText p{
    height: 100%;
    color: white;
    font-size: 1.8em;
    margin: 0;
}

.containerBtn{
    height: 20%;
    width: 100%;
    display: flex;
   justify-content: center;
   padding: 0.5em;
    
}    

#btnModal{
    height: 100%;
    border-radius: 1em;
    width: 30%;
    font-size: 1.5em;
    text-align: center;
}
/*Fim Sobre o Projeto*/
.carousel{
    margin: 10em 0
}
.carousel-inner{
    text-align: center;
}
.carousel-inner img {
    height: 50vh;
    width: 60vw;
}

.container{
    width: 100%!important;
    padding: 0!important;
}
/* Estilização footer*/

footer{
    margin-top: 1em;
    height: 14vh;
    width: 100%;
    background-color: #035950;
    display: flex;
    align-items: center;

}
.copy {
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    justify-content: center;
    color: #ffffff;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    margin: 0;
}

/* Responsividade button nav*/
@media (max-width: 999px){

    body{
        overflow-x: hidden;
    }

    .mobileNav{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        justify-content: end;
    }


    .logoResponsiva{
        width: 45%;
        padding: 0.2em;
        text-align: center; 
      }
      .logoResponsiva img{
        width: 90%;
        margin: 0.5em;
      }

    .mobileMenu{
        align-items: end; 
        margin: 0 0.5em 0 0;
    }
    
    .linksNav{
        position: absolute;
        height: 86vh;
        width: 50vw;
        right: 0;
        top: 14vh;
        background-color: #035950;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        transform: translateX(100%);
        transition: 0.3s ease-out;
    }
    #image{
        display: none;    
    }
    
    .linksNav li{
        width: 100%;
        font-size: 1em;
        
    }

    .linksNav.active{
        width: 50%;
        transform: translateX(0%); 
        transition: 0.3s ease-in;

    }

    .sobre{
        width: 100vw;
        height: 50vh;
    }
}   
/*Fim responsivo button nav*/

@media (max-width: 1540px){
    #banner img{
        width: 100%;
    }
}


/* Extra grande (para desktops grandes e telas maiores, 1200px e acima) */
@media (max-width: 1250px) {
        .infoEcoguide h1{
            font-size: 1.8em;
        }
       
        .infoReciclagem {
            justify-content: space-between;
        }
    }

  
  /* Grande (para desktops médios e laptops, 992px - 1199px) */
  @media(max-width: 1199.98px) {
    #banner{
        height: 54vh;
    }
    
    #banner img{
        height: 50vh;
        width: 100%;
        
}
.infoEcoguide h1{
    font-size: 1.7em;
}

.infoEcoguide p{
    font-size: 1.3em;
}
.infoText p {
   font-size: 1.5em;
   padding: 0.4em;
}
#btnModal{
    font-size: 1.1em;
}
  }
  /* Médio (para tablets e desktops pequenos, 768px - 991px) */
  @media(max-width: 950.98px) {

    nav{
        height: 15vh;
    }

    #banner img{
        height: 50VH;
        width: 90vw;
 }

 .linksNav{
    height: 90vh;
    top: 10vh;
}
.infoEcoguide h1{
    font-size: 1.4em;
}

.infoEcoguide p{
    font-size: 1.0em;
}
.infoText p {
   font-size: 1.4em;
   padding: 0.4em;
}
#btnModal{
    font-size: 1.0em;
}
  }  
  /* Pequeno (para smartphones em modo paisagem ou tablets, 576px - 767px) */
  @media(max-width: 768px) {
    nav{
        height: 15vh;
    }

    #banner img{
        height: 50VH;
        width: 90vw;
 }
 .linksNav{
    height: 90vh;
    top: 10vh;
}
.infoEcoguide{
    margin-bottom: 0.8em;
    justify-content: center;
}

.infoEcoguide h1{
    font-size: 1.3em;
}

.infoEcoguide p{
    font-size: 1em;
    margin: 0;
}
.infoText p {
   font-size: 1.2em;
   padding: 0.2em;
}
#btnModal{
    font-size: 1.0em;
    width: 40%;
}
.sobreResiduos{
    height: 55%;
}
.carousel-inner img {
    height: 50vh;
    width: 80vw;
}
}

@media (max-width: 575.98px) {
    nav{
        height:10vh;
    }
    #banner{
        height: 43vh;
    }

    #banner img{
        height: 40VH;
        width: 100vw;
}
 .linksNav{
    height: 90vh;
    top: 10vh;
}
#sobre{
    height: 1500px;
}
.sobreEcoguide{
    display: block;
    height: 80vh;
}
.infoEcoguide{
    margin-bottom: 0.8em;
    justify-content: center;
    width: 100%;
    height: 50vh;
}
.imgSobre{
    width: 100%;
    height: 30vh;
}
.infoEcoguide h1{
    font-size: 1.3em;
    width: 100%;
    height: 20vh;
}

.sobreResiduos{
    display: block;
    height: 1000px;
}
.infoReciclagem{
    width: 100%;
    justify-content: center;
    height: 55vh;
}
.imgReciclagem{
    width: 100%;
    height: 60vh;
    display: block;
    
}
.infoText{
    width: 100%;
    text-align: center;
    height: 80vh;
    margin-top: 5em;
}
.infoText p{
    width: 100%;
    height: 80%;
}
#btnModal{
    font-size: 1.0em;
    width: 40%;
}
} 
@media (max-width: 376px){
    .sobre{
        height: 1800px;
    }
    .sobreResiduos{
        height: 200%;
    }
    .infoReciclagem{
        margin-top: 3em;
        justify-content:center;
    }
    .infoText{
        margin-top: 2em;
    }
    .infoText p{
        font-size: 1.1em;
    }
    .carousel-inner img {
        height: 30vh;
        width: 80vw;
}
}
  /* Extra pequeno (para smartphones em modo retrato, menos de 425px) */
  @media (max-width: 320px) {
    nav{
        height:10vh;
        width: 100vw;
    }

    #banner{
        height: 40vh;
    }

    #banner img{
        height: 35VH;
        width: 100%;

    }
    .linksNav{
        height: 90vh;
        top: 10vh;
    }
    .infoEcoguide h1{
        font-size: 1.2em;
    }
    
    .sobreResiduos{
        display: block;
        height: 920px;
    }
    .infoReciclagem{
        width: 100%;
        justify-content: center;
        height: 55vh;
    }
    .imgReciclagem{
        margin-bottom: 2em;
        
    }
    .infoText{
        width: 100%;
        text-align: center;
        height: 70vh;
    }
    .infoText p{
        width: 100%;
        height: 100%;
        font-size: 1em;
    }
    #btnModal{
        width: 80%;
    }
    .copy{
        font-size: 0.6em;
        margin: 0 0 0 1em;
        justify-content: flex-start;
    }
  }
  


  